{% extends "base.html" %} 
{% load static %} 
{% block content %}
<p>
    <a class="btn btn-default" href="{% url 'sales_sellorder_list' %}">SellOrder Listing</a>
</p>
<table class="table">
    <tr>
        <td>details</td>
        <td>{{ object.details }}</td>
    </tr>
    <tr>
        <td>slug</td>
        <td>{{ object.slug }}</td>
    </tr>
    <tr>
        <td>created_at</td>
        <td>{{ object.created_at }}</td>
    </tr>
    <tr>
        <td>updated_at</td>
        <td>{{ object.updated_at }}</td>
    </tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit SellOrder</a>

{% endblock %}